body {
    margin-top: 105px;
    font-family: 'Lato', sans-serif;
}

.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff; }
.navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#amenities {
    padding-top: 5%;
    padding-bottom: 3%;
}

#location {
    padding-top: 5%;
    padding-bottom: 3%;
}